---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Rule The Web | Contact Us"
  description="contact page description"
  robots="index,follow"
>
  <!-- Start block -->
  <section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-6 sm:py-8 md:py-12 xl:py-16 lg:px-6 mx-auto lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-5">
        <h1 class="max-w-2xl mb-4 text-2xl font-extrabold leading-none tracking-tight md:text-3xl xl:text-4xl dark:text-white">
          We Can Help <br />Just Get In Touch.
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
          Whatever your situation: Have a troublesome Wordpress site? We can fix
          it. Looking for a Wordpress alternative? We can help. Need a brand new
          site? We'll get you off on the right track. Click below to send a
          message or schedule a callback to get started solving your website
          issues today.
        </p>
        <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
          <button
            data-cal-link="mike-alberts-b1p5j2/free"
            data-cal-namespace="free"
            data-cal-config='{"layout":"month_view","theme":"light"}'
            type="button"
            class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-heliotrope-700 hover:bg-heliotrope-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-purple"
          >
            Schedule A Callback
          </button>
          <button
            type="button"
            data-modal-target="default-modal"
            data-modal-toggle="default-modal"
            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
          >
            Send A Message
          </button>
        </div>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-7 lg:flex">
        <img src="/img/newhero10.webp" alt="hero image" />
      </div>
    </div>
  </section>
  <!-- End block -->

  <!-- Start block -->
  <section class="bg-gray-50 dark:bg-gray-800">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-24 lg:px-6">
      <figure class="max-w-screen-md mx-auto">
        <svg
          class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600"
          viewBox="0 0 24 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
            fill="currentColor"></path>
        </svg>
        <blockquote>
          <p class="text-xl font-medium text-gray-900 md:text-2xl dark:text-white">
            "Everything you need to put a quality website online is freely available online. Spending thousads of dollars for a basic small business website is not necessary."
          </p>
        </blockquote>
        <figcaption class="flex items-center justify-center mt-6 space-x-3">
          <img
            class="w-6 h-6 rounded-full"
            src="https://gravatar.com/userimage/98702177/e0373967533412a9a86a6b2e2fb9e176.jpeg"
            alt="profile picture"
          />
          <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
            <div class="pr-3 font-medium text-gray-900 dark:text-white">Mike A.</div>
            <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">CEO at Something</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
  <!-- End block -->

  <!-- Main modal -->
  <div
    id="default-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-900">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-400">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Contact Us</h3>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="default-modal"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-0 md:p-0 space-y-4 h-[300px] overflow-hidden">
          <iframe aria-label='Contact Form' class="h-[440px] w-full overflow-hidden" src='https://forms.zohopublic.com/administrator81/form/ProductReview/formperma/1SLy2_XE9PEXvFojgtAmiTZT6dLJ5GYdQ61n5p6RFKw'></iframe>
        </div>
        <!-- Modal footer -->
        <div
          class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-400"
        >
        </div>
      </div>
    </div>
  </div>
<!-- Cal element-click embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", "free", {origin:"https://app.cal.com"});
  Cal.ns.free("ui", {"theme":"light","cssVarsPerTheme":{"light":{"cal-brand":"#7B1FA2"}},"hideEventTypeDetails":false,"layout":"month_view"});
  </script>
  <!-- Cal element-click embed code ends -->
</Layout>
